In [1]:
#imports
import os
import pandas as pd
import random
random.seed(1)

In [3]:
dataset = pd.read_csv("2015.csv")

In [51]:
dataset.shape

(441456, 330)

In [7]:
dataset.head()

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENUM,...,_PAREC1,_PASTAE1,_LMTACT1,_LMTWRK1,_LMTSCL1,_RFSEAT2,_RFSEAT3,_FLSHOT6,_PNEUMO2,_AIDTST3
0,1.0,1.0,b'01292015',b'01',b'29',b'2015',1200.0,2.015000e+09,2.015000e+09,1.0,...,4.0,2.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0
1,1.0,1.0,b'01202015',b'01',b'20',b'2015',1100.0,2.015000e+09,2.015000e+09,1.0,...,2.0,2.0,3.0,3.0,4.0,2.0,2.0,NaN,NaN,2.0
2,1.0,1.0,b'02012015',b'02',b'01',b'2015',1200.0,2.015000e+09,2.015000e+09,1.0,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,NaN
3,1.0,1.0,b'01142015',b'01',b'14',b'2015',1100.0,2.015000e+09,2.015000e+09,1.0,...,4.0,2.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,9.0
4,1.0,1.0,b'01142015',b'01',b'14',b'2015',1100.0,2.015000e+09,2.015000e+09,1.0,...,4.0,2.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0

In [466]:
# select specific columns
df_selected = dataset[[
                        '_MICHD','_AGEG5YR', 'SEX', 'WTKG3', 'HTM4', 'TOLDHI2', 
                       '_RFHYPE5', 'CVDSTRK3', 'EDUCA', 'INCOME2', 'DIFFWALK', 
                       'ADDEPEV2', 'DIABETE3', 'SMOKE100', '_RFCHOL',
                        'HLTHPLN1','MEDCOST','GENHLTH', 'MENTHLTH', 'PHYSHLTH', 
                         '_BMI5','_RFDRHV5','_FRTLT1','_VEGLT1', '_TOTINDA'
                    ]]

In [468]:
df_selected.shape

(441456, 25)

In [470]:
df_selected.groupby(['_MICHD']).size()

_MICHD
1.0     38633
2.0    398881
dtype: int64

In [349]:
df_selected.head()

,_MICHD,_AGEG5YR,SEX,WTKG3,HTM4,TOLDHI2,_RFHYPE5,CVDSTRK3,EDUCA,INCOME2,...,HLTHPLN1,MEDCOST,GENHLTH,MENTHLTH,PHYSHLTH,_BMI5,_RFDRHV5,_FRTLT1,_VEGLT1,PA1MIN_
0,2.0,9.0,2.0,12701.0,178.0,1.0,2.0,2.0,4.0,3.0,...,1.0,2.0,5.0,18.0,15.0,4018.0,1.0,2.0,1.0,NaN
1,2.0,7.0,2.0,7484.0,173.0,2.0,1.0,2.0,6.0,1.0,...,2.0,1.0,3.0,88.0,88.0,2509.0,1.0,2.0,2.0,168.0
2,NaN,11.0,2.0,7167.0,180.0,1.0,1.0,1.0,4.0,99.0,...,1.0,2.0,4.0,88.0,15.0,2204.0,9.0,9.0,9.0,NaN
3,2.0,9.0,2.0,8165.0,170.0,1.0,2.0,2.0,4.0,8.0,...,1.0,1.0,5.0,30.0,30.0,2819.0,1.0,1.0,2.0,NaN
4,2.0,9.0,2.0,6441.0,163.0,2.0,1.0,2.0,5.0,77.0,...,1.0,2.0,5.0,88.0,20.0,2437.0,1.0,9.0,1.0,NaN

In [385]:
df_selected = df_selected.dropna()

In [387]:
df_selected.shape

(343606, 25)

In [389]:
# _MICHD

#Change 2 to 0 because this means did not have MI or CHD
df_selected.loc[:, '_MICHD'] = df_selected['_MICHD'].replace({2: 0})
df_selected._MICHD.unique()

array([0., 1.])

In [391]:
#1 _RFHYPE5
#Change 1 to 0 so it represetnts No high blood pressure and 2 to 1 so it represents high blood pressure

# Update values to represent high blood pressure (1) and no high blood pressure (0)
df_selected.loc[:, '_RFHYPE5'] = df_selected['_RFHYPE5'].replace({1: 0, 2: 1})

df_selected = df_selected[df_selected['_RFHYPE5'] != 9]

# Check unique values
df_selected['_RFHYPE5'].unique()

array([1., 0.])

In [393]:
#2 TOLDHI2
# Change 2 to 0 because it is No
# Remove all 7 (dont knows)
# Remove all 9 (refused)

# Replace 2 with 0 in the 'TOLDHI2' column
df_selected.loc[:, 'TOLDHI2'] = df_selected['TOLDHI2'].replace({2: 0})

# Remove rows where 'TOLDHI2' is 7 or 9
df_selected = df_selected[df_selected['TOLDHI2'] != 7]
df_selected = df_selected[df_selected['TOLDHI2'] != 9]


# Check unique values in 'TOLDHI2'
df_selected['TOLDHI2'].unique()

array([1., 0.])

In [395]:
#3 Cholchk
# Change 3 and 4 to 0 for 'Not checked cholesterol in past 5 years
#Change 2 to 1 as check is within past 2 years
df_selected.loc[:, 'CHOLCHK'] = df_selected['CHOLCHK'].replace({3: 0, 4: 0})
df_selected.loc[:, 'CHOLCHK'] = df_selected['CHOLCHK'].replace({2: 1})

# Remove rows where '_CHOLCHK' is 9
df_selected = df_selected[df_selected['CHOLCHK'] != 9]
df_selected = df_selected[df_selected['CHOLCHK'] != 7]

# Check unique values in '_CHOLCHK'
df_selected['CHOLCHK'].unique()

KeyError: 'CHOLCHK'

In [397]:
#4 bmi5
# Divide '_BMI5' by 100 and round it for easier analysis

df_selected.loc[:, '_BMI5'] = df_selected['_BMI5'].div(100).round(0)

# Check unique values in '_BMI5'
df_selected['_BMI5'].unique()

array([40., 25., 28., 24., 27., 30., 26., 23., 34., 31., 33., 21., 22.,
       38., 20., 19., 32., 46., 41., 37., 36., 29., 35., 18., 54., 45.,
       39., 47., 43., 55., 49., 42., 17., 16., 48., 44., 50., 59., 15.,
       52., 53., 57., 51., 14., 58., 63., 61., 56., 60., 74., 62., 64.,
       13., 66., 73., 65., 68., 85., 71., 84., 67., 70., 82., 79., 92.,
       72., 88., 96., 81., 12., 77., 95., 75., 91., 69., 76., 87., 89.,
       83., 98., 86., 80., 90., 78., 97.])

In [399]:
#5 smoke100
# Change 2 to 0 because it represents "No" in 'SMOKE100'

df_selected.loc[:, 'SMOKE100'] = df_selected['SMOKE100'].replace({2: 0})

# Remove rows where 'SMOKE100' is 7 (Don't know) or 9 (Refused)
df_selected = df_selected[df_selected.SMOKE100 != 7]
df_selected = df_selected[df_selected.SMOKE100 != 9]

# Check unique values in 'SMOKE100'
df_selected['SMOKE100'].unique()

array([1., 0.])

In [401]:
#6 cvdstrk3
# Change 2 to 0 because it represents "No" in 'CVDSTRK3'
df_selected.loc[:, 'CVDSTRK3'] = df_selected['CVDSTRK3'].replace({2: 0})

# Remove rows where 'CVDSTRK3' is 7 (Don't know) or 9 (Refused)
df_selected = df_selected[df_selected.CVDSTRK3 != 7]
df_selected = df_selected[df_selected.CVDSTRK3 != 9]

# Check unique values in 'CVDSTRK3'
df_selected['CVDSTRK3'].unique()

array([0., 1.])

In [403]:
#7 diabete3
# Replace values in 'DIABETE3' to make it ordinal 
#0 is for no diabetes or only during pregnancy, 1 is for pre-diabetes or borderline diabetes, 2 is for yes diabetes

df_selected.loc[:, 'DIABETE3'] = df_selected['DIABETE3'].replace({2:0, 3:0, 1:2, 4:1})

# Remove rows where 'DIABETE3' is 7 (Don't know) or 9 (Refused)
df_selected = df_selected[df_selected.DIABETE3 != 7]
df_selected = df_selected[df_selected.DIABETE3 != 9]

# Check unique values in 'DIABETE3'
df_selected['DIABETE3'].unique()

array([0., 2., 1.])

In [405]:
print(df_selected['EXERANY2'].unique())  # Check the unique values before replacement

KeyError: 'EXERANY2'

In [407]:
#8 _TOTINDA
# 1 for physical activity
# change 2 to 0 for no physical activity
# Remove all 9 (don't know/refused)
df_selected.loc[:, '_TOTINDA'] = df_selected['_TOTINDA'].replace({2: 0})
df_selected = df_selected[df_selected._TOTINDA != 9]
df_selected._TOTINDA.unique()

array([0., 1.])

In [409]:
#9 _FRTLT1
# Change 2 to 0. this means no fruit consumed per day. 1 will mean consumed 1 or more pieces of fruit per day 
# remove all dont knows and missing 9
# Replace 2 with 0 (No fruit consumed per day)
df_selected.loc[:, '_FRTLT1'] = df_selected['_FRTLT1'].replace({2: 0})

# Remove rows where '_FRTLT1' is 9 (Don't know) or missing
df_selected = df_selected[df_selected['_FRTLT1'] != 9]

# Check unique values in '_FRTLT1'
print(df_selected['_FRTLT1'].unique())  # Should show [0, 1]

[0. 1.]

In [411]:
#10 _VEGLT1
# Change 2 to 0. this means no vegetables consumed per day. 1 will mean consumed 1 or more pieces of vegetable per day 
# remove all dont knows and missing 9
df_selected.loc[:, '_VEGLT1'] = df_selected['_VEGLT1'].replace({2: 0})
df_selected = df_selected[df_selected._VEGLT1 != 9]
df_selected._VEGLT1.unique()

array([1., 0.])

In [413]:
#11 _RFDRHV5
# Change 1 to 0 (1 was no for heavy drinking). change all 2 to 1 (2 was yes for heavy drinking)
# remove all dont knows and missing 9
df_selected.loc[:, '_RFDRHV5'] = df_selected['_RFDRHV5'].replace({1:0, 2:1})
df_selected = df_selected[df_selected._RFDRHV5 != 9]
df_selected._RFDRHV5.unique()

array([0., 1.])

In [415]:
#12 HLTHPLN1
# 1 is yes, change 2 to 0 because it is No health care access
# remove 7 and 9 for don't know or refused
df_selected.loc[:, 'HLTHPLN1'] = df_selected['HLTHPLN1'].replace({2:0})
df_selected = df_selected[df_selected.HLTHPLN1 != 7]
df_selected = df_selected[df_selected.HLTHPLN1 != 9]
df_selected.HLTHPLN1.unique()

array([1., 0.])

In [417]:
#13 MEDCOST
# Change 2 to 0 for no, 1 is already yes
# remove 7 for don/t know and 9 for refused
df_selected.loc[:, 'MEDCOST'] = df_selected['MEDCOST'].replace({2:0})
df_selected = df_selected[df_selected.MEDCOST != 7]
df_selected = df_selected[df_selected.MEDCOST != 9]
df_selected.MEDCOST.unique()

array([0., 1.])

In [419]:
#14 GENHLTH
# This is an ordinal variable that I want to keep (1 is Excellent -> 5 is Poor)
# Remove 7 and 9 for don't know and refused
df_selected = df_selected[df_selected.GENHLTH != 7]
df_selected = df_selected[df_selected.GENHLTH != 9]
df_selected.GENHLTH.unique()

array([5., 3., 2., 4., 1.])

In [421]:
#15 MENTHLTH
# already in days so keep that, scale will be 0-30
# change 88 to 0 because it means none (no bad mental health days)
# remove 77 and 99 for don't know not sure and refused
df_selected.loc[:, 'MENTHLTH'] = df_selected['MENTHLTH'].replace({88:0})
df_selected = df_selected[df_selected.MENTHLTH != 77]
df_selected = df_selected[df_selected.MENTHLTH != 99]
df_selected.MENTHLTH.unique()

array([18.,  0., 30.,  3.,  5., 15., 10.,  6., 20.,  2., 25.,  1., 29.,
        4.,  7.,  8., 21., 14., 26.,  9., 16., 28., 11., 12., 24., 17.,
       13., 23., 27., 19., 22.])

In [423]:
#16 PHYSHLTH
# already in days so keep that, scale will be 0-30
# change 88 to 0 because it means none (no bad physical health days)
# remove 77 and 99 for don't know not sure and refused
df_selected.loc[:, 'PHYSHLTH'] = df_selected['PHYSHLTH'].replace({88:0})
df_selected = df_selected[df_selected.PHYSHLTH != 77]
df_selected = df_selected[df_selected.PHYSHLTH != 99]
df_selected.PHYSHLTH.unique()

array([15.,  0., 30.,  2., 14., 28.,  7., 20.,  3., 10.,  1.,  5., 17.,
        4., 19.,  6., 21., 12.,  8., 25., 27., 22., 29., 24.,  9., 16.,
       18., 23., 13., 26., 11.])

In [425]:

#17 DIFFWALK
# change 2 to 0 for no. 1 is already yes
# remove 7 and 9 for don't know not sure and refused
df_selected.loc[:, 'DIFFWALK'] = df_selected['DIFFWALK'].replace({2:0})
df_selected = df_selected[df_selected.DIFFWALK != 7]
df_selected = df_selected[df_selected.DIFFWALK != 9]
df_selected.DIFFWALK.unique()

array([1., 0.])

In [427]:
#18 SEX
# in other words - is respondent male (somewhat arbitrarily chose this change because men are at higher risk for heart disease)
# change 2 to 0 (female as 0). Male is 1
df_selected.loc[:, 'SEX'] = df_selected['SEX'].replace({2:0})
df_selected.SEX.unique()

array([0., 1.])

In [429]:
#19 _AGEG5YR
# already ordinal. 1 is 18-24 all the way up to 13 wis 80 and older. 5 year increments.
# remove 14 because it is don't know or missing
df_selected = df_selected[df_selected._AGEG5YR != 14]
df_selected._AGEG5YR.unique()

array([ 9.,  7., 11., 10., 13.,  8.,  4.,  6.,  2., 12.,  5.,  1.,  3.])

In [431]:
#20 EDUCA
# This is already an ordinal variable with 1 being never attended school or kindergarten only up to 6 being college 4 years or more
# Scale here is 1-6
# Remove 9 for refused:
df_selected = df_selected[df_selected.EDUCA != 9]
df_selected.EDUCA.unique()

array([4., 6., 3., 5., 2., 1.])

In [433]:
#21 INCOME2
# Variable is already ordinal with 1 being less than $10,000 all the way up to 8 being $75,000 or more
# Remove 77 and 99 for don't know and refused
df_selected = df_selected[df_selected.INCOME2 != 77]
df_selected = df_selected[df_selected.INCOME2 != 99]
df_selected.INCOME2.unique()

array([3., 1., 8., 6., 4., 7., 2., 5.])

In [435]:
# Convert HEIGHT3 values by dividing by 100 to get two decimal places
df_selected['HTM4'] = df_selected['HTM4'] / 100

# Check the updated values in HEIGHT3
print(df_selected['HTM4'].unique())

[1.78 1.73 1.7  1.57 1.68 1.63 1.52 1.75 1.6  1.65 1.93 1.5  1.88 1.8
 1.83 1.91 1.55 1.85 1.45 1.96 1.47 1.98 2.03 2.01 1.42 2.06 1.24 2.08
 1.51 1.37 1.4  1.77 1.72 2.07 2.09 1.46 1.04 1.62 1.27 1.35 1.07 1.22
 2.13 1.19 1.3  2.16 2.29 2.11 1.71 1.67 1.86 1.97 1.58 1.69 1.64 1.32
 1.43 1.05 1.1  1.87 1.76 2.18 1.61 1.79 1.81 1.74 1.56 1.9  1.2  1.59
 1.54 0.91 1.49 1.06 1.17 2.21 2.05 2.02 2.   2.1  1.53 1.14 1.66 1.02
 1.03 1.82 1.38 2.24 1.11 1.34 1.48 1.08]

In [437]:
df_selected['WTKG3'] = df_selected['WTKG3'] / 100

# Check the updated values in WTKG3
print(df_selected['WTKG3'].unique())

[127.01  74.84  81.65  65.77  67.13  73.03  79.38  58.06  90.72  73.94
  78.02  82.55  58.97  61.23 104.33  53.52  88.45 105.23  72.57  63.5
 131.54  88.9  120.66  97.52  62.6   68.04  64.86  86.18  70.76 116.12
  83.91  72.12  92.99  66.22 117.93  60.78 108.86  59.42  54.43 120.2
  87.09  99.79  76.2   73.48 111.13  57.15  85.73  55.34  77.11  95.25
  56.7  113.4   87.54  70.31  80.74  84.37  94.35 124.74 102.06  69.4
  44.91  64.41  63.96  61.69  74.39  97.07  57.61  66.68  68.95  45.36
 103.87 133.81  78.47  46.72 110.68  81.19 106.59  89.81 122.47 117.48
 158.76 129.27  99.34  98.43  53.07  49.9   52.16 128.82  48.99  63.05
  92.08  75.3   90.26  91.63  50.8  103.42 149.69  54.88 101.15  71.67
  98.88  89.36  59.87  93.89  58.51  88.    68.49 152.86  80.29  93.44
  79.83 128.37 136.08 132.45  95.71  84.82  49.44  75.75  39.92  53.98
  62.14 112.94  47.63  92.53  48.53 147.42 105.69 117.03 109.77  94.8
  96.62  56.25  69.85  83.01 114.76  67.59  96.16 161.93  65.32  44.45
 115.67  71.21  78.93 121.56 121.11 115.21 167.83  55.79 145.15 126.55
 107.05  60.33 154.22  52.62  86.64  48.08  42.64  43.09  83.46 112.04
  97.98 146.51 140.61 124.28 118.84  82.1  129.73  45.81 100.7   91.17
  85.28 119.29  77.56 170.1  130.63 136.53  36.74  76.66  51.71 106.14
 108.41 102.97 148.78 100.24 195.04 116.57 114.31  50.35 107.95  36.29
 138.35 109.32 165.11 132.   102.51  41.73 107.5  143.79 127.91  40.82
  83.   125.65 151.95 208.65 112.49 113.85 159.66 181.44 118.39 111.58
 137.44 174.63 155.58 110.22 144.24 146.96 141.52 133.36  46.27 147.87
 172.37 104.78 136.98  47.17 119.75  44.   125.19 123.38 101.6  139.71
 123.83 163.29 153.77 134.72 142.88 176.9  156.49 122.02 173.27  51.26
 156.04  55.   190.51 204.12 169.64 141.07 151.05 144.7   43.54 131.09
 143.34  68.   180.53  35.83  64.   126.1   40.37  65.    85.   170.55
  38.56  42.18  50.    35.    86.   135.17  61.   139.25 134.26 132.9
 231.33 142.43 157.85 107.   185.97 223.62 140.16 165.56  39.46 135.62
 130.18  39.01 153.31 137.89  74.   122.92 166.92  37.19 141.97 183.7
 155.13 236.78  31.75 242.67 175.99 138.8   84.   171.46  59.    37.65
 106.   195.5  150.59 179.17  41.28 150.14  70.   156.    72.    60.
  90.   213.19  52.   164.65  57.    80.    92.    79.    62.    34.02
 180.    94.   213.64 154.68 192.32  76.    75.   199.58  78.   261.27
 108.    56.    82.   161.48 230.   110.   260.82  91.    38.1   63.
 228.61 226.8  168.28 163.75  95.   127.46 249.48 179.62 164.2   34.
 161.03 192.78 185.07  71.   272.61 135.   146.06 177.81 168.74 206.84
 175.09  42.   230.88  35.38 189.6  148.32 125.   162.84 176.45 159.21
 162.39 156.94  49.   229.97 230.42 273.97 160.12 174.18 149.23 220.45
 136.   188.24 160.57  69.   145.6  215.91 182.8  207.75 158.3  185.
 219.99 229.52 228.16 227.7  231.79 273.06 229.06 272.16 185.52 273.52
 227.25  87.   147.   274.42 275.33 186.43 234.51  34.47 182.34 206.38
 222.26 151.5  193.68 177.35 157.   217.72 157.4  100.   194.14 175.54
 210.92  73.   118.    81.   180.98 173.73  58.    54.   198.22 162.
 116.   111.   113.    29.48 214.55 289.85 224.53 121.   200.49  45.
 178.72  32.66 211.83 172.82  47.   191.42 197.31 122.   190.96 115.
  66.   250.   186.88 170.   150.   145.    51.   152.    30.84 180.08
 171.   124.   244.94 239.04 166.47 169.19 207.29 166.01 158.   102.
 178.26 152.41 205.48 200.03 195.95 233.6   97.   117.   160.   254.01
  53.   190.   265.   280.    89.   260.   247.21  67.   205.93  93.
  99.    33.57 220.   258.55 148.  ]

In [439]:
# Replace 2 with 0 in the 'ADDEPEV2' column
df_selected.loc[:, 'ADDEPEV2'] = df_selected['ADDEPEV2'].replace({2: 0})

# Remove rows where 'TOLDHI2' is 7 or 9
df_selected = df_selected[df_selected['ADDEPEV2'] != 7]
df_selected = df_selected[df_selected['ADDEPEV2'] != 9]


# Check unique values in 'TOLDHI2'
df_selected['ADDEPEV2'].unique()

array([1., 0.])

In [441]:
df_selected.shape

(255189, 25)

In [447]:
#Rename the columns to make them more readable
df = df_selected.rename(columns = {'_MICHD':'HeartDiseaseorAttack', 
                                         '_RFHYPE5':'HighBP',  
                                        'WTKG3': 'Weight',
                                           'HTM4': 'Height',
                                         'TOLDHI2':'HighChol', 
                                         '_BMI5':'BMI', 
                                         'SMOKE100':'Smoker', 
                                         'CVDSTRK3':'Stroke', 'DIABETE3':'Diabetes', 
                                         '_TOTINDA':'PhysActivity', 
                                         '_FRTLT1':'Fruits', '_VEGLT1':'Vegetables', 
                                         '_RFDRHV5':'HvyAlcoholConsump', 
                                         'HLTHPLN1':'AnyHealthcare', 'MEDCOST':'NoDocbcCost', 
                                         'GENHLTH':'GenHlth', 'MENTHLTH':'MentHlth', 'PHYSHLTH':'PhysHlth', 'DIFFWALK':'DiffWalk', 
                                         'SEX':'Sex', '_AGEG5YR':'Age', 'EDUCA':'Education', 'INCOME2':'Income' })

In [449]:
df

,HeartDiseaseorAttack,Age,Sex,Weight,Height,HighChol,HighBP,Stroke,Education,Income,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,BMI,HvyAlcoholConsump,Fruits,Vegetables,PhysActivity
0,0.0,9.0,0.0,127.01,1.78,1.0,1.0,0.0,4.0,3.0,...,1.0,0.0,5.0,18.0,15.0,40.0,0.0,0.0,1.0,0.0
1,0.0,7.0,0.0,74.84,1.73,0.0,0.0,0.0,6.0,1.0,...,0.0,1.0,3.0,0.0,0.0,25.0,0.0,0.0,0.0,1.0
3,0.0,9.0,0.0,81.65,1.70,1.0,1.0,0.0,4.0,8.0,...,1.0,1.0,5.0,30.0,30.0,28.0,0.0,1.0,0.0,0.0
5,0.0,11.0,0.0,65.77,1.57,0.0,1.0,0.0,3.0,6.0,...,1.0,0.0,2.0,0.0,0.0,27.0,0.0,1.0,1.0,1.0
6,0.0,11.0,0.0,67.13,1.68,1.0,1.0,0.0,5.0,4.0,...,1.0,0.0,2.0,3.0,0.0,24.0,0.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
441450,0.0,5.0,1.0,163.29,1.91,1.0,1.0,0.0,6.0,7.0,...,1.0,0.0,3.0,0.0,5.0,45.0,0.0,1.0,1.0,0.0
441451,0.0,11.0,0.0,47.17,1.60,1.0,1.0,0.0,2.0,4.0,...,1.0,0.0,4.0,0.0,0.0,18.0,0.0,0.0,0.0,0.0
441452,0.0,2.0,0.0,72.57,1.60,0.0,0.0,0.0,5.0,2.0,...,1.0,0.0,1.0,0.0,0.0,28.0,0.0,1.0,0.0,1.0
441454,0.0,7.0,1.0,75.30,1.80,0.0,1.0,0.0,5.0,1.0,...,1.0,0.0,3.0,0.0,0.0,23.0,0.0,1.0,1.0,0.0
441455,1.0,9.0,0.0,61.23,1.57,1.0,1.0,0.0,6.0,2.0,...,1.0,0.0,2.0,0.0,0.0,25.0,0.0,1.0,0.0,1.0

In [455]:
df.isna().any().any()

False

In [457]:
df.head()

,HeartDiseaseorAttack,Age,Sex,Weight,Height,HighChol,HighBP,Stroke,Education,Income,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,BMI,HvyAlcoholConsump,Fruits,Vegetables,PhysActivity
0,0.0,9.0,0.0,127.01,1.78,1.0,1.0,0.0,4.0,3.0,...,1.0,0.0,5.0,18.0,15.0,40.0,0.0,0.0,1.0,0.0
1,0.0,7.0,0.0,74.84,1.73,0.0,0.0,0.0,6.0,1.0,...,0.0,1.0,3.0,0.0,0.0,25.0,0.0,0.0,0.0,1.0
3,0.0,9.0,0.0,81.65,1.70,1.0,1.0,0.0,4.0,8.0,...,1.0,1.0,5.0,30.0,30.0,28.0,0.0,1.0,0.0,0.0
5,0.0,11.0,0.0,65.77,1.57,0.0,1.0,0.0,3.0,6.0,...,1.0,0.0,2.0,0.0,0.0,27.0,0.0,1.0,1.0,1.0
6,0.0,11.0,0.0,67.13,1.68,1.0,1.0,0.0,5.0,4.0,...,1.0,0.0,2.0,3.0,0.0,24.0,0.0,1.0,1.0,1.0

In [460]:
df.shape

(255189, 25)

In [464]:
df.to_csv('2015_Cleaned.csv', index = False)